header {
	background-color:#B76E79;
	font-family:georgia;
	font-weight:bold;
	color:white;
	text-shadow: 0px 1px #2f4f4f,
	 1px 0px #2f4f4f,
	 0px -1px #2f4f4f,
	 -1px 0px #2f4f4f;	
	 box-shadow: 0px 10px 15px #707070;
	 position:fixed;
	 overflow:auto;
}

navigation-block.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

#name {
	float: left;
	margin:2% 2% 1% 2%;
	font-family:georgia;
	font-size:200%;
	font-weight: bold;

}

body {
	background-color: #B7886E;
}

#navigation-block {
	margin:8px;
	float:right;
}

#navigation-block a {

}

.nav-btn{
	font-family:georgia;
	font-weight:bold;
	color:white;
	margin:10px;
	border-color:#2f4f4f;
	border-width:2px;
	background-color:#707070;
	text-shadow: 0px 1px #2f4f4f,
	 1px 0px #2f4f4f,
	 0px -1px #2f4f4f,
	 -1px 0px #2f4f4f;
	cursor:pointer;	
}

.nav-btn:hover {
	background-color:white;
	color:#b76e79;
}

.active {
	background-color:white;
	color:#b76e79;
}


#about-btn {

}

#portfolio-btn {

}

#contact-btn {
	
}

#hello {
	margin:13% 0% 7% 3%;
}
.nico {
	float:left;
	border: solid;
	background-color: #2f4f4f;
	border-radius: 50%;
	padding:3px;
	margin-top: -1.5%;
}

#about {
	background-color:#419185;
	width:95%;
	border:solid;
	border-color:#2f4f4f;
	height:auto;
	overflow:auto;
	
}

.about-p {
	font-family:helvetica;
	text-align:left;
	margin: 0 25px 15% 25px;
	color:white;
	width: 60%;

}

h2 {
	margin:10% 10%;
	color:white;
	font-family: georgia;
	font-weight: bold;
	text-shadow: 0px 1px #2f4f4f,
	 1px 0px #2f4f4f,
	 0px -1px #2f4f4f,
	 -1px 0px #2f4f4f;	

}

.about-pic {
	float:right;
	height:25%;
	width:25%;
	align:right;
	margin:120px 20px 20px 20px;
	border-radius:5%;
	display:inline-block;
}

#portfolio {
	background-color: #b09296;
	width:95%;
	border-left:solid #2f4f4f;
	border-right: solid #2f4f4f;
	height:auto;
	overflow:auto;
	text-align: center;
}

h1{
	font-family: georgia;
	color: white;
	margin:75px;
	font-weight: bold;
	text-shadow: 0px 1px #2f4f4f,
	 1px 0px #2f4f4f,
	 0px -1px #2f4f4f,
	 -1px 0px #2f4f4f;	
}

.portfolio-img {
	width:100%;
	border-radius: 10%;

}

table {
	display: block;
	background-color: white;
	border:3px solid #2f4f4f;
	margin:50px auto;
	border-collapse: separate;
	border-spacing: 10px 10px;
	border-radius: 5%;

	
}

td {
	height:25%;
	width:25%;
	background-color: #2f4f4f;
	border:10px solid transparent;
	border-radius: 10%;
}

#contact {
	background-color: #6E79B7;
	width:95%;
	border:solid #2f4f4f;
	height:auto;
	overflow: auto;
	color:white;
	text-align: center;
}
.name {
	font-family: helvetica;
	
}

.social-media {
	color:white;
	font-family: helvetica;
	font-weight: bold;


}
#c-software {
	float:left;
	margin:0 5% 5% 10%;
}

#c-art {
	float:right;
	margin:0 20% 5% 5%;
}

.thumbnail {
	width:90px;
	background-color: white;
	border-radius: 50%;
	padding:5px;
	margin:19px;
}

ul {
	list-style: none;

}

.social-headers {
	margin:10px 10px 50px 10px;
	color:white;
	font-family: helvetica;
	font-weight: bold;
}

#email {
	float:left;
	font-family: helvetica;
	font-size:120%;
	margin:3%;

}

.sections {

}

a {
	color: white;
	font-style: italic;
}







